<%= form_for @article, html: { :class => "form" } do |f| %>
  <%= render 'partials/error_messages', object: @article %>
  <div>
    <%= f.hidden_field :user_id %>
    <%= f.label :title %><br>
    <%= f.text_field :title, :class => 'form-control' %>
  </div>
  <div>
    <%= f.label :text %><br>
    <%= f.text_area :text, rows: "20", :class => 'form-control' %>
  </div>
  <br />
  <div>
    <%= f.submit :class => 'btn btn-primary' %>
  </div>
<% end %>
