<%= form_for @article, html: { :class => "form" } do |f| %>
  <% if @article.errors.any? %>
  <!-- Error Messages -->
    <div class="alert alert-danger alert-dismissable">
      <button aria-hidden="true" class="close" data-dismiss="alert" type="button">&times;</button>
      <h4>
        <%= "#{pluralize(@article.errors.count, "error")} prohibited this article from being saved:" %>
      </h4>
      <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li>
            <%= msg %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.hidden_field :user_id %>
    <%= f.label :title %><br>
    <%= f.text_field :title, :class => 'form-control' %>
  </div>
  <div>
    <%= f.label :text %><br>
    <%= f.text_area :text,  rows: "20", :class => 'form-control wysihtml5-ed' %>
    <%# <%= f.text_area :text, rows: "20", :class => 'form-control' %1> %>
  </div>
  <br />
  <div>
    <%= f.submit :class => 'btn btn-primary' %>
  </div>
<% end %>
