<h1>Edit "<%= @article.title %>"</h1>
<%= render "form" %>
<p>
  <%= link_to '< Back to Blog Index', articles_path %> | 
  <%= link_to 'Discard changes', article_path %> | 
  <%= link_to 'Delete this article', article_path, 
  method: :delete,
  data: { confirm: 'Really delete?' } %> 
</p>
