<h1><%= @article.title %></h1>
By <%= link_to "#{@article.author}", user_path(@article.user) %>

<div>
  <%= markdown(@article.text) %>
</div>
<div id="article_nav">
  <%= link_to '< Back to Blog Index', articles_path %>
  <% if user_signed_in? && current_user.owns?(@article) %> |
    <%= link_to 'Edit this article', edit_article_path %>
  <% end %>
</div>
<%= react_component('CommentsApp', props: {}) %>

