<h1><%= @article.title %></h1>

<p>
  <%= sanitize(@article.text) %>
</p>
<div id="article_nav">
  <%= link_to '< Back to Blog Index', articles_path %>
  <% if user_signed_in? && current_user.owns?(@article) %> |
    <%= link_to 'Edit this article', edit_article_path %>
  <% end %>
</div>
<h2>Comments</h2>
<section id="comments-section">
  <%= react_component('CommentsBox',
                      { comments: json_for(@article.comments) },
                      { prerender: params[:noprerender].nil? } ) %>
                    <% if user_signed_in? %>erb
    <div id="comments-submission">
      <%= form_for [@article, @article.comments.build], remote: true do |f| %>
        <%= f.hidden_field(:user_id, :value => current_user.id) %>
        <%= f.label :comment  %><br />
        <%= f.text_area :body, rows: "7", placeholder: "Post a comment...", class: "form-control" %>
        <br />
        <%= f.submit :class => "btn btn-primary" %><br />
        <div class="byline">Posting as <%= current_user.username %></div>
      <% end %>
    </div>
    <% else %>
      <div id="comments-submission">
      <%= link_to 'Log in', new_user_session_path, id: 'comment_login' %> or <%= link_to 'Sign up', new_user_registration_path %> to leave a comment.
    </div>
    <% end %>
  </div>
</section>
<div id="comm" class="name">

</div>
