<h1><%= @article.title %></h1>

<p>
  <%= markdown(@article.text) %>
</p>
<div id="article_nav">
  <%= link_to '< Back to Blog Index', articles_path %>
  <% if user_signed_in? && current_user.owns?(@article) %> |
    <%= link_to 'Edit this article', edit_article_path %>
  <% end %>
<div
  class="fb-like"
  data-share="true"
  data-width="450"
  data-show-faces="true">
</div>
</div>
<%= react_component('CommentsApp') %>

