<div class="body_column">
  <h1>Matt's Blog Users</h1>
  <table class="table table-striped">
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td>
            <%= link_to user.email, user %><br />
            <%= user.username %>
          </td>
          <td>
            <%= form_for(user) do |f| %>
              <%= f.select(:role, User.roles.keys.map {|role| [role.titleize,role]}) %>
              <%= f.submit 'Change Role', class: 'btn btn-primary btn-xs' %>
            <% end %>
          </td>
          <td>
            <%= link_to("Delete user", user_path(user), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'button') unless user == current_user %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
