<!DOCTYPE html>
<html>
<head>
  <title>Rgblog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container" id="container">
    <% if user_signed_in? %>
      <%= render "partials/reg_user_toolbar" %>
    <% else %>
      <%= render "partials/anon_user_toolbar" %>
    <% end %>
    <% flash.each do |message_type, message| %>
      <div id="flash_<%= message_type %>" class="flash_<%= message_type %>"><%= message %></div>
    <% end %>
    <%= yield %>
  </div>
</body>
</html>
