
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Rgblog</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <% unless params[:nojs] %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <% end %>
    <%= csrf_meta_tags %>

  <body>
<%= redux_store('RGBlog',
                    { comments: @article ? comments_list_json(@article.comments) : false,
                             user: user_json(current_user) || false,
                             article: @article ? { article_id: @article.id, author: @article.author } : false }
                   ) %>
<%= react_component('AuthApp') %>
<%= react_component('NavApp') %>
    <div id="container" class="container-fluid">
      <div class="row">
        <div class="centered content_column">
          <%= flash_messages %>
          <%= yield %>
        </div>
      </div>
    </div>

  </body>
</html>
